---
import { SITE } from "~/config.mjs";
import PageLayout from "~/layouts/PageLayout.astro";
import Course from "~/components/content/coursepages/Course.astro";

const course_num = 2;

const meta = {
  title: `${SITE.org} | Course ${course_num}`,
  description: `${SITE.org} Course ${course_num} Home Page`,
  canonical: new URL("", Astro.site),
};
---

<PageLayout meta={meta}>
  <main>
    <Course course_num={course_num} />
  </main>
</PageLayout>
